* {
    box-sizing: border-box;
    /* font */
    font-family: 'Andika New Basic', sans-serif;
}

body {
    margin: 0;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

html {
    scroll-behavior: smooth;
}

.example::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
    display: none;
}


/*BARRA DE NAVEGACIÓN*/

div.scrollmenu {
    background-color: rgb(0, 0, 0);
    overflow: auto;
    white-space: nowrap;
    position: fixed;
    width: 100%;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    width: 16.66%;
    font-size: 25px;
}

div.scrollmenu a:hover {
    background-color: rgb(200, 255, 0);
    color: black;
}

.padding87 {
    padding: 25px;
}


/*CLASES CONTADOR ATRAS*/

#cuenta {
    display: flex;
    justify-content: center;
    padding: 1%;
    padding-bottom: 1%;
    background-color: #0f0099;
}

.simply-section {
    background-color: rgb(255, 255, 255);
    width: 180px;
    height: 180px;
    margin: 0 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(0, 0, 0);
}

.simply-amount {
    display: block;
    font-size: 50px;
    font-weight: 700;
}

.simply-word {
    font-weight: 200;
    font-size: 20px;
}


/*Header*/

.header {
    background-image: url('../img/banner.png');
    text-align: center;
    padding: 7vw;
    background-size: cover;
    background-color: white;
}

.header h1 {
    font-size: 3.5vw;
    color: #000000;
}

.header img {
    width: 100%;
}


/* -- Clases de columnas -- */

.one-column {
    float: left;
    width: 100%;
    text-align: center;
}

.one-column h1 {
    font-size: 5vw;
}

.two-column {
    padding: 2%;
    float: left;
    width: 50%;
}

.two-column img {
    width: 100%;
}

.two-column h1 {
    font-size: 5vw;
}

.two-column p {
    font-size: 3vw;
}

.four-column {
    float: left;
    width: 25%;
    padding: 2%;
}

.four-column p {
    text-align: center;
}

.four-column img {
    width: 100%;
    align: center;
    float: left;
}

.mapa {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2.5vw;
    text-align: center;
}


/*TABLAS*/

#customers {
    border-collapse: collapse;
    width: 100%;
}

#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
    background-color: #3503aa;
    color: white;
}

#padding-table {
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 3vw;
    padding-bottom: 3vw;
}

#padding-table h1 {
    text-align: center;
    font-size: 5vw;
}

.photo {
    text-align: center;
}


/*SECCIONES*/

#tempo {
    align: center;
}

#section-1 {
    background-color: #0a0061;
    color: white;
}

#redes {
    background-color: #0a0061;
    color: white;
}

#section-2 {
    background-color: #0f0099;
    align-content: center;
    color: white;
}

#section-2 img {
    box-align: center;
    padding: 15% 2% 5% 2%;
}

#section-3 {
    background-color: white;
    color: black;
    padding-top: 0% 3% 3% 3%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#section-5 {
    background-color: #46a6fc;
}

#footer {
    color: black;
}

#footer p {
    font-size: 20px;
    text-align: left;
}

#footer img {
    width: 25%;
}

#footer p a {
    text-decoration: none;
}

#footerb {
    background-color: rgb(189, 189, 189);
}

#platinum-label {
    width: 18%;
}

#platinum-label2 {
    width: 18%;
    padding: 400px;
}

#racestart {
    background-color: #0a0061;
    color: rgb(255, 255, 255);
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*BODY & ROW*/

body {
    margin: 0;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


/*BIENVENIDA*/


/*Clases auxiliares*/

.padding-0 {
    padding: 0px;
}

#paddingnoimg {
    padding: 10%;
}

#youtube {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5%;
    width: 70%;
    height: 35vw;
}

#discordlogo {
    width: 100%;
}

.two-column iframe {
    width: 100%;
    height: 34vw;
}

#boton {
    width: 100%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #0a0061;
    color: white;
    padding: -100px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#infografia {
    width: 100%;
    align: center;
    font-size: 3vw;
    background-color: #0a0061;
    color: white;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

@media screen and (max-width:900px) {
    .two-column {
        width: 100%;
    }
    .four-column {
        width: 100%;
    }
    .four-column img {
        width: 100%;
        text-align: center;
    }
    #youtube {
        width: 100%;
    }
    #section-1 {
        width: 100%;
    }
    #discord {
        width: 80%;
    }
    .header {
        width: 100%;
        font-size: 2.5vw;
    }
    /*Contador*/
    #cuenta {
        display: flex;
        justify-content: center;
        padding: 4%;
        padding-bottom: 5%;
    }
    .simply-section {
        background-color: rgb(255, 255, 255);
        width: 200px;
        height: 80px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: rgb(0, 0, 0);
    }
    .simply-amount {
        display: block;
        font-size: 10px;
        font-weight: 500;
    }
    .simply-word {
        font-weight: 200;
        font-size: 12px;
    }
    #infografia {
        width: 100%;
        align: center;
        font-size: 4vw;
    }
    /*BARRA DE NAVEGACIÓN*/
    div.scrollmenu {
        background-color: rgb(0, 0, 0);
        overflow: auto;
        white-space: nowrap;
        position: fixed;
        width: 100%;
    }
    div.scrollmenu a {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 3%;
        text-decoration: none;
        width: 13.4%;
        font-size: 10px;
    }
    div.scrollmenu a:hover {
        background-color: rgb(200, 255, 0);
        color: black;
    }
    .padding87 {
        padding: 20px;
    }
    #platinum-label {
        width: 70%;
    }
}